<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Vue Reactivity</h1>
    </header>
    <section id="reactivity">
      <h2>Reactivity in Action</h2> 
      <button @click="add(1)">Add</button>
      <button @click="subtract(1)">Subtract</button>
      <p>Result: {{ counter }}</p>
      <!-- <input type="text" v-bind:value="name" v-on:input="setName"> -->
      <!-- v-bind:value and v-on:input ==> v-model -->
      <input type="text" v-model="name">
      <input type="text" v-model="lastName">
      <button @click="resetInput">Reset</button>
      <p>Your Name: {{ fullName }}</p>
    </section>
  </body>
</html>

